# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env

# Logs
logs/
**/logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build directories
dist/
build/

# Debug
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
coverage/
.npm
.eslintcache
.yarn-integrity 