entrypoint = "server.js"
modules = ["nodejs-18:v3-20230608-f4cd419"]

hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
XDG_CONFIG_HOME = "/home/runner/.config"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[packager]
language = "nodejs"

  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

  [languages.javascript.languageServer]
  start = [ "typescript-language-server", "--stdio" ]

[server]
host = "0.0.0.0"
port = 3000

[deployment]
run = ["sh", "-c", "node server.js"] 